<footer class="d-flex justify-content-between align-items-center  flex-lg-row flex-column">
    <h6>Copyright © 2023 politicalworks.com All rights reserved.</h6>
    <div class="footer-icons">
        <a  target="_blank" href="https://api.whatsapp.com/send?phone=918667864589"> <img src="../../assets/images/whatsapp.svg" alt="Whatsapp"></a>
        <a  target="_blank" href="https://instagram.com/politicalworks_in?igshid=MWZjMTM2ODFkZg=="> <img src="../../assets/images/instagram.svg" alt="instagram"></a>
        <a  target="_blank" href="https://twitter.com/political_works?t=WFgRwOH6kFaLhTrZZ3zEoQ&s=09"> <img src="../../assets/images/twitter.svg" alt="twitter"></a>




    </div>
</footer>